node_modules
dist
.env
.wrangler
public/data/*
!public/data/index.json
data/*
!data/main/
!data/cache/
!data/reddit/
folder-structure.txt
context.txt
data/main/src/*
public/llms.txt
public/llms-full.txt
